.header {

    padding: 1rem 2rem;
    position: relative;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 10;
    height: 108px;
}

.header_container {
    margin: 0 auto;
    max-width: 82rem;
    display: flex;
    justify-content: space-between;

}


.header_container {
    align-items: center;
}

.header .primary-menu {
    display: flex;
    gap: 2rem;
}

.header .primary-menu .menu-item a {
    color: #180E5B;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
}
.header .primary-menu .menu-item a:hover{
    color: #493D93;
   
}

.header .primary-menu .menu-item-has-children a::after{
    content: url('../images/polygon_solid.svg');
    transform: scale(1.3) translateY(-0.2rem);
    position: relative;
    margin-left: 0.5rem;
    display: inline-block;  
}

.header .primary-menu .menu-item-has-children:hover .sub-menu{
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    transform: translateY(1rem);
    transition: all 0.5s;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.header .primary-menu .menu-item-has-children:hover .sub-menu::before{
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    position: absolute;
    top: -1rem;
    left: -0.5rem;
}
.header .primary-menu .sub-menu {
    opacity: 0;
    position: absolute;
    transform: translateY(0rem);
}
.header .primary-menu .sub-menu a{
    font-size: 0.8rem;
    line-height: 2rem;
}
.header .primary-menu .sub-menu a::after{
    content: '';
}


.header .lang-switcher a {
    width: 1.75rem;
    height: 1.25rem;
}

.header .lang-switcher img {
    width: 100%;
    height: 100%;
}



.header_menubuttons {
    display: none;
}
.header_mobile_nav{
    display: none;
}

.header_buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header_search-button{
    height: 28px;
    color:#392E80;
    cursor: pointer;
    position: relative;
}
.header_search-button .glass_icon{
    transition: opacity ease 0.3s;
    opacity: 100%;
}
.header_search-button.active .glass_icon{
    opacity: 0;
}
.header_search-button .x_icon{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity ease 0.3s;
}
.header_search-button.active .x_icon{
    opacity: 100%;
}
.header_searchform_container{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #6258A1;
    padding: 1rem 2rem;
    top: -100px;
    z-index: 5;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.header_searchform_container.active{
    top: 108px;
}
.header_searchform_container .search-form{
    display: flex;
    height: 2rem;
    gap: 0.5rem;
}
.header_searchform_container label{
    flex-grow: 1;
    height: 100%;
}
.header_searchform_container .search-input{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 14px;
}
.header_searchform_container .search-submit{
    border-radius: 0.25rem;
    border:none;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 14px;
    background-color: #392E80;
}
.header_searchform_container .search-submit:hover{
    background-color: #493D93;
}

@media(max-width:1024px){
    .header_nav{
        display: none;
    }
    .header_lang-switcher-container{
        display: none;
    }
    .header_buttons{
        gap: 0.5rem;
    }
    .header_menubuttons {
        display: block;
    }
    #header_menu_burger{
        background:none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header_menu_burger i{
        color: #392E80;
        font-size: 1.75rem;
       
    }
    #header_menu_x{
        background:none;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 36.5px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    #header_menu_x i{
        color: #392E80;
        font-size: 1.70rem;
    }
    .header{
        position: fixed;
        background-color: #fff;
        top: 0;
        z-index: 40;
        width: 100%;
    }
    .header .header_item{
        z-index: 20;
    }
    .header_mobile_nav{
        position: fixed;
        background-color: #fff;
        width: 100%;
        position: fixed;
        display: block;
        z-index: 10;
        left: 0;
        transform: translateY(-50rem);
        transition:all 1s;
        padding: 8rem 2rem 1rem 2rem;
        box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    }
    
    .header .primary-menu-mobile{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .header .primary-menu-mobile::before{
        content: '';
        border-top: 2px solid rgba(57, 46, 128, 0.1); 
        width: 100%;
        height: 2px;
        transform: translateY(-1rem);
    }
    .header .primary-menu-mobile .menu-item{
        text-align: center;
    }
    .header .primary-menu-mobile .menu-item a {
        color: #180E5B;
        text-decoration: none;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        position: relative;
    }
    .header .header-show-submenu-button{
        background-image: url('../images/polygon.svg');
        background-color: #fff;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        width:1rem;
        height: 1rem;
        margin-left: 0.5rem;
        transform: rotate(180deg) translateY(-0.3rem);
        transition: all 0.5s;
        background-position: center;
        position: absolute;
    }
   
    .header .primary-menu-mobile .sub-menu {
        display: none;
        text-align: center;
    }
    .header .primary-menu-mobile .sub-menu a{
        color: #493D93;
        font-size: 0.87rem;
    }
    .header .lang-switcher-mobile{
        margin-top:1rem ;
        padding-top: 1rem;
        border-top: 2px solid rgba(57, 46, 128, 0.1);
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}